<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=LbyoAbYv9q">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png?v=LbyoAbYv9q">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-chrome-192x192.png?v=LbyoAbYv9q">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png?v=LbyoAbYv9q">
<link rel="manifest" href="/assets/favicon/site.webmanifest?v=LbyoAbYv9q">
<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=LbyoAbYv9q" color="#a91c30">
<link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=LbyoAbYv9q">
<meta name="apple-mobile-web-app-title" content="Withonor">
<meta name="application-name" content="Withonor">
<meta name="msapplication-TileColor" content="#a91c30">
<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?v=LbyoAbYv9q">
<meta name="theme-color" content="#ece9e7">
