---
---

@import "{{ site.theme }}";

h3, h4 {
 margin-top: 1.6em;
 margin-bottom: 0.1em;
 font-size: 1.3em;
}
h4 {
 color: green;

}
p {
 font-size: 113%;
 text-align: justify;
}
ul {
 @extend p;
 font-family: inherit;
 li {
  padding-left: 0.4em;
 }
}
.actionCall {
 margin-top: -0.8em;
}
a.button {
 text-align: center;
 color: orange;
 border-color: orange;
}
#main_content > h1 {
 display: none;
}
#altContext {
 text-align: right;
 a {
  color: currentColor;
 }
}
.langSwitch,
.blogSwitchExt {
}

@media all and (min-width: 551px) {
 #main_content > .actionCall > a.button {
  width: 13em;
  font-size: 1.1em;
 }
}
@media all and (min-width: 001px) and (max-width: 550px) {
 #main_content > .actionCall > a.button {
  width: 24em;
  font-size: 2em;
  line-height: 1.5;
 }
}
