---
---

@import "{{ site.theme }}";

h3, h4 {
 margin-top: 1.6em;
 margin-bottom: 0.4em;
 font-size: 1.25rem;
}
h4 {
 color: green;

}
ul {
 @extend p;
 font-family: inherit;
 li {
  padding-left: 0.4em;
 }
}
a.button {
 width: 13rem;
 font-size: 1.1rem;
 text-align: center;
 color: orange;
 border-color: orange;
}
.actionCall {
 margin-top: -0.8em;
}

@media (min-width: 001px) and (max-width: 550px) {
 a.button {
  width: 15rem;
  font-size: 1.3rem;
 }
}
