---
---

@import "{{ site.theme }}";

h3, h4 {
 margin-top: 1.6em;
 margin-bottom: 0.4em;
}
h4 {
 color: green;

}
ul {
 @extend p;
 font-family: inherit;
 li {
  padding-left: 0.4em;
 }
}
a.button {
 width: 15rem;
 font-size: 1.3rem;
}
.actionCall {
margin-top: -0.8em;
}
